:root {
    --borders-color: #f8f8f8;
    --yellow: #fcd706;
    --twitter: #1da1f2;
    --facebook: #3B5998;
    --pinterest: #C92228;
    --gplus: #d34836;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.subtitle {
    color: #777777;
    font-size: 16px;
    font-style: italic;
}

button {
    width: 200px;
    height: 48px;
    border: none;
    cursor: pointer;
    background-color: var(--yellow);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}

button:hover {
    background-color: #ebc605;
}

@media (max-width: 400px) {
    .title {
        font-size: 30px;
     }

    .subtitle {
        font-size: 14px;
    }
}

/* RESPONSIVE NAVBAR */ 

#welcome .container .navbar .toggle {
    width: 100%;
    padding: 10px 0;
    text-align: right;
    box-sizing: border-box;
    display: none;
}

#welcome .container .navbar .toggle i {
    margin: 0 40px 0 0;
    font-size: 22px;
    line-height: 20px;
    color: #ffffff;
    display: none;
}

@media (max-width: 916px) {
    #welcome .container .navbar .logo a {
        display: none;
    }

    #welcome .container .navbar .toggle {
        display: block;
    }

    #welcome .container .navbar .toggle i {
        display: block;
    }

    #welcome .container .navbar .menu {
        width: 100%;
    }

    #welcome .container .navbar .menu a {
        margin: 8px 0;
        display: none;
    }

    .active {
        display: block;
    }
}

/* WELCOME */

#welcome {
    display: flex;
    justify-content: center;
    background-image: url(images/welcome-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome .container .navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#welcome .container .navbar .logo {
    width: 340px;
    font-size: 34px;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    display: flex;
    align-items: center;
    height: 100%;
}

#welcome .container .navbar .logo a {
    color: var(--yellow);
    text-decoration: none;
}

#welcome .container .navbar .menu {
    width: 560px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#welcome .container .navbar .menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 38px;
}

#welcome .container .navbar .menu a:hover {
    color: #d1d1d1;
}

#welcome .container .introduction {
    margin-top: 46px;
    margin-bottom: 148px;
    text-align: center;
}

#welcome .container .introduction .text1{
    font-size: 34px;
    color: #ffffff;
    font-style: italic;
    font-family: 'Merriweather', serif;
    margin-top: 120px;
    margin-bottom: 26px;
}

#welcome .container .introduction .text2{
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 26px;
}

/* ABOUT-US */

#about_us {
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
}

#about_us .container {
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}

#about_us .container .services {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#about_us .container .services .item {
    width: 260px;
    margin-left: 22px;
    margin-right: 22px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#about_us .container .services .item .icon {
    display: flex;
    justify-content: center;
}

#about_us .container .services .item .border {
    width: 30px;
    height: 30px;
    margin: 0 8px;
    border: 2px solid var(--yellow);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about_us .container .services .item .icon .border i {
    color: var(--yellow);
}

#about_us .container .services .item .name {
    padding-top: 8px;
    margin-bottom: 2px;
    color: #000000;
    font-weight: 700;
}

#about_us .container .services .item .description {
    width: 100%;
    color: #777777;
    font-size: 14px;
    margin-top: 4px;
}

/* OUR-PORTFOLIO */

#our_portfolio {
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
}

#our_portfolio .container {
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}

#our_portfolio .container .portfolio {
    margin-top: 100px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#our_portfolio .container .portfolio .project {
    width: 260px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
}

.portfolio .project .image {
    width: 260px;
    height: 260px;
    overflow: hidden;
}

.portfolio .project .image img {
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
}

.portfolio .project .image:hover img {
    transform: scale(1.1);
}

.portfolio .project .data {
    background-color: #ffffff;
    padding: -1px;
    border-left: 1px solid var(--borders-color);
    border-right: 1px solid var(--borders-color);
    border-bottom: 1px solid var(--borders-color);
}

.portfolio .project .data .name {
    padding-top: 8px;
    margin-bottom: 2px;
    color: #000000;
    font-weight: 700;
}

.portfolio .project .data .type {
    color: #777777;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0;
}

/* OUR-TEAM */

#our_team {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
}

#our_team .container {
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}

.team {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team .member {
    width: 260px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.team .member .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
}

.team .member .image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.team .member .data {
    width: 100%;
}

.team .member .data .name {
    margin: 0;
    margin-bottom: 4px;
    color: #000000;
    font-weight: 700;
}

.team .member .data .job {
    margin: 0;
    color: #777777;
    font-size: 0.8em;
}

.team .member .social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.team .member .social-links .item {
    width: 30px;
    height: 30px;
    margin: 0 8px;
    border: 2px solid #000000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

.team .member .social-links .item:hover {
    cursor: pointer;
}

.team .member .social-links .item:hover a {
    color: #ffffff;
}

.team .member .social-links .item:hover:nth-of-type(1) {
    background-color: var(--twitter);
    border: 2px solid var(--twitter);
}

.team .member .social-links .item:hover:nth-of-type(2) {
    background-color: var(--facebook);
    border: 2px solid var(--facebook);
}

.team .member .social-links .item:hover:nth-of-type(3) {
    background-color: var(--pinterest);
    border: 2px solid var(--pinterest)8;
}

.team .member .social-links .item:hover:nth-of-type(4) {
    background-color: var(--gplus);
    border: 2px solid var(--gplus);
}


.team .member .social-links .item a {
    text-decoration: none;
    color: #000000;
    outline: 0;
}

#our_team .container .description {
    width: 40%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-weight: 500;
    color: #777777;
    text-align: center;
}

@media (max-width: 900px) {
	.team .member {
        width: calc(40% - 32px);
        margin: 24px auto;
	}
}

@media (max-width: 640px) {
	.team .member {
        width: 100%;
        margin: 24px auto;
	}
}

@media (max-width: 400px) {
    #our_team .container .description {
        font-size: 0.8em;
    }
}

/* CONTACT-US */

#contact_us {
    background-image: url(images/contact-us-background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact_us .container {
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}

#contact_us .container .title {
    color: #ffffff;
}

#contact_us .container .fields {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#contact_us .container .fields .data {
    display: flex;
    flex-direction: column;
    margin: 0 14px;
}

#contact_us .container .fields .data input {
    width: 272px;
    height: 30px;
    margin-bottom: 22px;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

#contact_us .container .fields .message {
    margin: 0 14px;
}

#contact_us .container .fields .message textarea {
    width: 272px;
    height: 124px;
    padding: 10px;
    margin-bottom: 22px;
    border-radius: 4px;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    resize: none;
}

@media (max-width: 648px) {
    #contact_us .container .fields .data{
        margin-bottom: 20px;
    }
}

/* FOOTER */

footer {
    background-color: #f9f9f9;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .socials .item {
    width: 30px;
    height: 30px;
    margin: 0 8px;
    background-color: #1d1d1d;
    border: 2px solid #1d1d1d;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

footer .socials .item a {
    text-decoration: none;
    color: #ffffff;
    outline: 0;
}

footer .socials .item:hover {
    cursor: pointer;
}

footer .socials .item:hover:nth-of-type(1) {
    background-color: var(--twitter);
    border: 2px solid var(--twitter);
}

footer .socials .item:hover:nth-of-type(2) {
    background-color: var(--facebook);
    border: 2px solid var(--facebook);
}

footer .socials .item:hover:nth-of-type(3) {
    background-color: var(--pinterest);
    border: 2px solid var(--pinterest);
}

footer .socials .item:hover:nth-of-type(4) {
    background-color: var(--gplus);
    border: 2px solid var(--gplus);
}