:root {
    --borders-color: #f8f8f8;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.subtitle {
    color: #777777;
    font-size: 16px;
    font-style: italic;
}

@media (max-width: 400px) {
    .title {
        font-size: 30px;
     }

    .subtitle {
        font-size: 14px;
    }
}

/* ABOUT-US */

#about_us {
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
}

#about_us .container {
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}

#about_us .container .services {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#about_us .container .services .item {
    width: 260px;
    margin-left: 22px;
    margin-right: 22px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#about_us .container .services .item .icon {
    display: flex;
    justify-content: center;
}

#about_us .container .services .item .border {
    width: 30px;
    height: 30px;
    margin: 0 8px;
    border: 2px solid #fcd706;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about_us .container .services .item .icon .border i {
    color: #fcd706;
}

#about_us .container .services .item .name {
    padding-top: 8px;
    margin-bottom: 2px;
    color: #000000;
    font-weight: 700;
}

#about_us .container .services .item .description {
    width: 100%;
    color: #777777;
    font-size: 14px;
    margin-top: 4px;
}

/* OUR-PORTFOLIO */

#our_portfolio {
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
}

#our_portfolio .container {
    width: 60%;
    text-align: center;
    margin-bottom: 120px;
}

#our_portfolio .container .portfolio {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#our_portfolio .container .portfolio .project {
    width: 260px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
}

.portfolio .project .image {
    width: 260px;
    height: 260px;
    overflow: hidden;
}

.portfolio .project .image img {
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
}

.portfolio .project .image:hover img {
    transform: scale(1.1);
}

.portfolio .project .data {
    background-color: #ffffff;
    padding: -1px;
    border-left: 1px solid var(--borders-color);
    border-right: 1px solid var(--borders-color);
    border-bottom: 1px solid var(--borders-color);
}

.portfolio .project .data .name {
    padding-top: 8px;
    margin-bottom: 2px;
    color: #000000;
    font-weight: 700;
}

.portfolio .project .data .type {
    color: #777777;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0;
}

@media (max-width: 520px) {
	.portfolio .project .image {
        width: calc(100% - 2px);
        height: calc(100% - 2px);
    }

    #our_portfolio .container .title {
        font-size: 30px;
    }

    #our_portfolio .container .subtitle {
        font-size: 14px;
    }
}

/* OUR-TEAM */

#our_team {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
}

#our_team .container {
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}

.team {
    /* width: 100%; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team .member {
    /* width: calc(33.33% - 16px);
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px; */
    width: 260px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.team .member .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
}

.team .member .image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.team .member .data {
    width: 100%;
}

.team .member .data .name {
    margin: 0;
    margin-bottom: 4px;
    color: #000000;
    font-weight: 700;
}

.team .member .data .job {
    margin: 0;
    color: #777777;
    font-size: 0.8em;
}

.team .member .social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.team .member .social-links .item {
    width: 30px;
    height: 30px;
    margin: 0 8px;
    border: 2px solid #000000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

.team .member .social-links .item:hover {
    cursor: pointer;
}

.team .member .social-links .item:hover a {
    color: #ffffff;
}

.team .member .social-links .item:hover:nth-of-type(1) {
    background-color: #1da1f2;
    border: 2px solid #1da1f2;
}

.team .member .social-links .item:hover:nth-of-type(2) {
    background-color: #3B5998;
    border: 2px solid #3B5998;
}

.team .member .social-links .item:hover:nth-of-type(3) {
    background-color: #C92228;
    border: 2px solid #C92228;
}

.team .member .social-links .item:hover:nth-of-type(4) {
    background-color: #d34836;
    border: 2px solid #d34836;
}


.team .member .social-links .item a {
    text-decoration: none;
    color: #000000;
    outline: 0;
}

#our_team .container .description {
    width: 40%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-weight: 500;
    color: #777777;
    text-align: center;
}

@media (max-width: 900px) {
	.team .member {
        width: calc(40% - 32px);
        margin: 24px auto;
	}
}

@media (max-width: 640px) {
	.team .member {
        width: 100%;
        margin: 24px auto;
	}
}

@media (max-width: 400px) {
    #our_team .container .title {
        font-size: 30px;
    }

    #our_team .container .subtitle {
        font-size: 14px;
    }

    #our_team .container .description {
        font-size: 0.8em;
    }
}

/* CONTACT-US */

#contact_us {
    background-image: url(images/contact-us-background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

#contact_us .container {
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}

#contact_us .container .title {
    color: #ffffff;
}

#contact_us .container .fields {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#contact_us .container .fields .data {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

#contact_us .container .fields .data input {
    width: 260px;
    height: 30px;
    margin-bottom: 22px;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

#contact_us .container .fields .message textarea {
    width: 260px;
    height: 124px;
    padding: 10px;
    margin-bottom: 22px;
    border-radius: 4px;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    resize: none;
}

#contact_us .container button {
    width: 200px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #fcd706;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}

#contact_us .container button:hover {
    background-color: #ebc605;
}

@media (max-width: 648px) {
    #contact_us .container .fields .data{
        margin-bottom: 20px;
    }
}

/* FOOTER */

footer {
    background-color: #f9f9f9;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .socials .item {
    width: 30px;
    height: 30px;
    margin: 0 8px;
    background-color: #1d1d1d;
    border: 2px solid #1d1d1d;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

footer .socials .item a {
    text-decoration: none;
    color: #ffffff;
    outline: 0;
}

footer .socials .item:hover {
    cursor: pointer;
}

footer .socials .item:hover:nth-of-type(1) {
    background-color: #1da1f2;
    border: 2px solid #1da1f2;
}

footer .socials .item:hover:nth-of-type(2) {
    background-color: #3B5998;
    border: 2px solid #3B5998;
}

footer .socials .item:hover:nth-of-type(3) {
    background-color: #C92228;
    border: 2px solid #C92228;
}

footer .socials .item:hover:nth-of-type(4) {
    background-color: #d34836;
    border: 2px solid #d34836;
}